main{
  @include clearfix();
  #section-about{
    background-color: #ededed;
    padding: 7rem 0 6.5rem 6rem;
    min-height:42rem; //최소 높이가 42rem. 그이상으로 늘어날수있음.
    width:66.66666%;
    float:left;

    @include clearfix();
    &-words{
      width:65%;
      padding: 2rem 2rem 0 0;
      float:left;
      p{
        padding:1.5rem 0;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: justify;
      }
    }
    &-photo{
      width:35%;
      float:left;
      position: relative;

      .photo{
        position: absolute;
        width: 18rem;
        height:12rem;
        transition: all .5s;

        &:hover{
          transform:scale(1.1);
          padding:1rem;
          border:3px solid $color-primary;
          z-index:10;
        }

        &:nth-child(1){
          left: 1rem;
          top: 3rem;
        }
        &:nth-child(2){
          left:6rem;
          top:10rem;
        }
        img{
          width:100%;
          height:100%;
          box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.5);
        }
      }
    }
  }

  #section-etc{
    width:33.33334%;
    float:left;
    [id^="etc-"] {
      height: 14rem;
    }
    .etc{
      &:nth-child(1){
        background-color: $color-blue-1;
      }
      &:nth-child(2){
        background-color: $color-blue-2;
      }
      &:nth-child(3){
        background-color: $color-blue-3;
      }

      .etc-icon{
        padding-top:3.5rem;
        width:30%;
        text-align:center;
        float:left;
        i{
          font-size:6rem;
        }
      }
      .etc-text{
        padding-top:1rem;
        width:70%;
        float:left;

        p{
          margin:0.5rem 0;
          padding-right:3.5rem;
          text-align:justify;
          font-size:1.4rem;
        }
      }
    }
  }
}